<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pratap College</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Pratap College</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/pca">Home</a></li>
                <li><a href="/tybsc">Back</a></li>
            </ul>
        </nav>
    </header>
    <h1> student Detail :</h1> <br><br>
    <ul>
        <b> <h2> <li> Name : <%= student.name %></li> </h2> </b> <br>
        <b> <h2> <li> Mo number : <%= student.mono %></li> </h2> </b> <br>
        <b> <h2> <li> Address : <%= student.village %></li> </h2> </b> <br>
        <b> <h2> <li> Present : <%= student.present %></li> </h2> </b> <br>
        <b> <h2> <li> GPA : <%= student.gpa %></li> </h2> </b> <br>
    </ul>
    <footer>
        <p>&copy; 2025 College Name. All Rights Reserved.</p>
    </footer>
    </body>
    </html>